
body {
     
    background-color: #1c3454;

}

@media screen and (max-width:800px) {
    .menu {
        font-size: 10px;
    }
}

@media screen and (max-width:570px) {
    .menu {
        font-size: 7px;
        font-weight: bold;
    }
}

@media screen and (max-width:470px) {
    .menu {
        font-size: 5px;
        font-weight: bold;
    }
}